@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #1f2937;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #1f2937;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.navbar a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar ul li a {
  font-weight: 300;
  text-decoration: none;
}

.first-screen {
  display: flex;
  height: 900px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  flex-wrap: wrap;
}

.first-screen .left-side a {
  color: white;
  font-size: 60px;
  font-weight: 500;
}

.first-screen .left-side {
  width: 420px;
  padding-left: 50px;
}

.first-screen .left-side button {
  background-color: cornflowerblue;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 8px;
}

.first-screen .right-side .image-placeholder {
  background-color: gray;
  display: flex;
  height: 250px;
  width: 350px;
  justify-content: center;
  align-items: center;
}

.first-screen .right-side .image-placeholder a {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

.second-screen {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-screen a {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 500;
  color: #1f2937;
}

.second-screen .rect-holder {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  row-gap: 60px;
  padding-bottom: 100px;
}

.second-screen .rect-holder .rect {
  border: 3px solid;
  height: 150px;
  width: 150px;
  border-radius: 25px;
  color: lightseagreen;
  display: flex;
  justify-content: center;
}

.second-screen .rect-holder .rect p {
  width: 120px;
  text-align: center;
  margin-top: 160px;
  color: #1f2937;
  font-weight: 500;
}

.third-screen {
  background-color: rgb(227, 229, 236);
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-screen h1 {
  max-width: 670px;
  margin-left: 25px;
}

.third-screen a {
  font-weight: 500;
  margin-left: 400px;
  margin-right: 25px;
}
